<div *ngIf="animehighestRating != null">
    <div *ngIf="animehighestRating.length !== 0">
      <div class="container-fluid">
        <h1 class="text-center my-4">Manage Highest Rating Animes</h1>
          <div class="row">
              <div class="col-7 col-md-6 col-xl-4">
                  <div class="form-group mb-4">
                      <input 
                        id="exampleFormControlInput2" 
                        [(ngModel)]="name" 
                        (keyup)="applyFilter()" 
                        type="text" 
                        placeholder="searching for Anime Name ?" 
                        class="form-control form-control-underlined border-primary search-input">
                  </div>
              </div>              
          </div>
        <div class="table-responsive text-center">
            <table class="table table-bordered main-table">
                <tr class="bg-dark text-white">
                    <td>#ID</td>
                    <td>Image</td>
                    <td>Anime Name</td>
                    <td>Category Name</td>
                    <td>Recommended</td>
                    <td>Control</td>
                </tr>
                <tr *ngFor="let anime of animehighestRatingFilterList | paginate: config">
                  <td>{{anime.id}}</td>
                  <td><img src="{{anime?.animeMainImage}}" alt="{{anime.animeName}} Image" class="img-thumbnail img-custom"></td>
                  <td>{{anime.animeName}}</td>
                  <td *ngIf="anime.categories.length > 0"><span class="anime_categories d-block mb-1" *ngFor="let cat of anime.categories">{{cat.name}}</span></td>
                  <td *ngIf="anime.categories.length == 0">-</td>
                  <td>
                    <a (click)="suggest(anime.id, (anime.suggest ? false : true))" 
                       class="text-primary mr-1 mb-1" 
                       title="Change To {{anime.suggest ? 'Not Recommended' : 'Recommended' }}"
                       style="cursor: pointer; {{ suggestProgress ? 'pointer-events: none;' : '' }}">
                      {{ anime.suggest ? 'Recommended' : 'Not Recommended' }}
                    </a>
                  </td>                
                  <td>
                    <a (click)="delete(anime.id)" class="btn btn-danger confirm btn-sm mr-1 mb-1 {{isDeleted ? 'disabled' : ''}}">
                      Delete
                    </a>
                  </td>
                </tr>
            </table>
            <pagination-controls class="my-pagination"
                                 (pageChange)="pageChanged($event)"
                                 autoHide="true"
                                 maxSize="5"
                                 responsive="true"
                                 previousLabel="Prev"
                                 nextLabel="Next"
                                 screenReaderPaginationLabel="Pagination"
                                 screenReaderPageLabel="page"
                                 screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
      </div>
    </div>
    <div *ngIf="animehighestRating.length === 0">
        <div class="container">
            <div class="alert alert-primary text-center mt-5">There Isn't Anime To Show</div>
            <a routerLink="/animes/add" class="btn btn-primary btn-sm mb-2 float-right">
                <i class="fa fa-plus"></i>
                Add New Anime
            </a>
        </div>
    </div>
</div>
<div *ngIf="animehighestRating == null">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
