<!-- <div class="container"> -->
  <div class="col-12 my-5 mx-auto">
    <div class="container">
      <ul class="nav nav-tabs">
          <li class="nav-item mx-auto">
              <a class="nav-link active" data-toggle="tab" href="#enime-rating">Anime Episode</a>
          </li>
          <li class="nav-item mx-auto">
              <a class="nav-link" data-toggle="tab" href="#episode-rating">Season Episode</a>
          </li>
      </ul>
    </div>
      <!-- Tab panes -->
      <div class="tab-content">
          <div id="enime-rating" class="tab-pane active"><br>
              <app-anime-episodes></app-anime-episodes>
          </div>
          <div id="episode-rating" class="tab-pane fade"><br>
              <app-season-episodes></app-season-episodes>
          </div>
      </div>
  </div>

<!-- </div> -->