<div *ngIf="episodesComingSoon != null">
    <div *ngIf="episodesComingSoon.length !== 0">
      <div class="container-fluid">
            <h1 class="text-center my-4">Manage Coming Soon Episodes Page</h1>  
            <div class="row">
              <div class="col-7 col-md-6 col-xl-4">
                  <div class="form-group mb-4">
                      <input 
                        id="exampleFormControlInput2" 
                        [(ngModel)]="name" 
                        (keyup)="applyFilter()" 
                        type="text" 
                        placeholder="searching for Anime Name , Category Number Or Episode Number?" 
                        class="form-control form-control-underlined border-primary search-input">
                  </div>
              </div>
              <div class="col-5 col-md-6 col-xl-8 align-self-center">
                <a class="btn btn-primary btn-sm mb-2 float-right" routerLink="/episodes/add">
                  <i class="fa fa-plus"></i>
                  Add New Episode
                </a>
              </div>
          </div>
        <div class="table-responsive text-center">
            <table class="table table-bordered main-table">
                <tr class="bg-dark text-white">
                    <td>#ID</td>
                    <td>Image</td>
                    <td>Anime Name</td>
                    <td>Category Name</td>
                    <td>Description</td>
                    <td>Episode Number</td>
                    <td>Season Number</td>
                    <td>Publish Date</td>
                    <td>Duration</td>
                    <td>Control</td>
                </tr>
                <tr *ngFor="let episode of episodesComingSoonFilterList | paginate: config">
                  <td>{{episode?.id}}</td>
                  <td><img src="{{episode?.image}}" alt="{{episode.animeName}} Image" class="img-fluid img-thumbnail img-custom"></td>
                  <td>{{episode.animeName}}</td>
                  <td>{{episode.categoryName}}</td>
                  <td>{{episode.description}}</td>
                  <td>{{episode.episodeNumber}}</td>
                  <td>{{episode.seasonNumber}}</td>
                  <td>{{episode.publishDate ? (episode.publishDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</td>
                  <td>{{episode.duration ? (episode.duration.timestamp * 1000 | date: 'H:mm:ss':'UTC') : '-'}}</td>
                  <td>
                      <a routerLink="/episodes/edit/{{episode.id}}" class="btn btn-success btn-sm mr-1 mb-1">
                        Edit
                      </a>
                      <a (click)="delete(episode.id)" class="btn btn-danger confirm btn-sm mr-1 mb-1">
                        Delete
                      </a>
                  </td>
                </tr>
            </table>
            <pagination-controls class="my-pagination"
                                (pageChange)="pageChanged($event)"
                                autoHide="true"
                                maxSize="5"
                                responsive="true"
                                previousLabel="Prev"
                                nextLabel="Next"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
      </div>
    </div>
    <div *ngIf="episodesComingSoon.length === 0">
        <div class="container">
            <div class="alert alert-primary text-center mt-5">There Isn't Coming Soon Episodes To Show</div>
            <a routerLink="/episodes/add" class="btn btn-primary btn-sm mb-2 float-right">
                <i class="fa fa-plus"></i>
                Add New Episode
            </a>
        </div>
    </div>
</div>
<div *ngIf="episodesComingSoon == null">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
