<div class="container">
    <form [formGroup]="uploadForm" class="col-md-10 col-lg-8 col-xl-7 my-5 mx-auto" (ngSubmit)="mySubmit()">
      <h2 class="h1 ml-5 text-center">Add New Category</h2>
      <div class="form-group row">
        <label class="col-2 col-form-label">Name</label>
        <div class="col-10">
          <input class="form-control"
                 [ngClass]="{'is-invalid': uploadForm.get('name').errors &&
                   (uploadForm.get('name').touched || uploadForm.get('name').dirty)}"
                 type="text"
                 name="name"
                 formControlName="name"
                 placeholder="Type The Name">
          <span class="invalid-feedback" *ngIf="uploadForm.get('name').errors?.required">Name Field Is Required</span>
          <span class="invalid-feedback"
                *ngIf="uploadForm.get('name').errors?.minlength">Name Must Be Greater Than 2</span>
          <span class="invalid-feedback"
                *ngIf="uploadForm.get('name').errors?.maxlength">Name Must Be Lower Than 45</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Description</label>
        <div class="col-10">
           <textarea class="form-control"
                     [ngClass]="{'is-invalid': uploadForm.get('description').errors &&
                     (uploadForm.get('description').touched || uploadForm.get('description').dirty)}"
                     name="description"
                     formControlName="description"
                     placeholder="Type The description"></textarea>
          <span class="invalid-feedback"
                *ngIf="uploadForm.get('description').errors?.required">Description Field Is Required</span>
          <span class="invalid-feedback" *ngIf="uploadForm.get('description').errors?.minlength">Description Must Be Greater Than  2</span>
        </div>
      </div>
      <!-- <div class="form-group row">
        <label class="col-2 col-form-label">Episode Number</label>
        <div class="col-10">
          <input class="form-control"
                 [ngClass]="{'is-invalid': uploadForm.get('episodeNumber').errors &&
                   (uploadForm.get('episodeNumber').touched || uploadForm.get('episodeNumber').dirty)}"
                 type="number"
                 name="episodeNumber"
                 formControlName="episodeNumber"
                 placeholder="Type The Episode Number">
          <span class="invalid-feedback" *ngIf="uploadForm.get('episodeNumber').errors?.required">Episode Number Field Is Required</span>
          <span class="invalid-feedback"
                *ngIf="uploadForm.get('episodeNumber').errors?.minlength">Episode Number Must Be Greater Than 1</span>
          <span class="invalid-feedback"
                *ngIf="uploadForm.get('episodeNumber').errors?.maxlength">Episode Number Must Be Lower Than 45</span>
        </div>
      </div> -->
      <div class="form-group row">
        <label class="col-2 col-form-label">Upload</label>
        <div class="input-group col-10">
          <div class="custom-file">
            <input #imageInput type="file" accept="image/*" class="custom-file-input" id="file-input"
                   (change)="updateName(imageInput)">
            <label class="custom-file-label" for="file-input">{{imageName}}</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-success" type="button" (click)="processFile(imageInput)" [disabled]=!fileSelected>
              {{uploadButtonValue}}
            </button>
          </div>
        </div>
      </div>

      <div class="form-group offset-md-2 mt-3">
        <input class="btn btn-primary btn-block" type="submit" value="{{submitButtonValue}}" [disabled]="!imagePathReady || isSubmitted">
      </div>
    </form>
  </div>
